* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    height: 1400px;
}

.firstcontainer {
    width: 1170px;
    margin: auto;
}

.clearfix {
    clear: both;
}

.navbar {
    font-size: 20px;
    overflow: auto;
}

.navbar .logo {
    float: left;
    font-size: 40px;
    vertical-align: center;
    color: white;
    font-weight: bold;
    z-index: 5;
    font-style: italic;
}


.logo span {
    color: #FBA31B;
    font-weight: bold;
    font-style: normal !important;
    font-size: 45px;
}

.navbar ul {
    float: right;
    list-style: none;
}

.navbar ul li {
    float: left;
    margin-left: 20px;
}

.navbar ul li a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: white

}

.top {
    background-image: url('bg.jpg');
    font-family: 'Noto Sans HK', sans-serif;
    background-size: cover;
    height: 500px;
    position: relative;
}

.intro {
    text-align: center;
    color: white;
    padding: 50px;
}

.intro h1 {
    font-size: 60px;
    font-family: 'Poppins', cursive;
    font-weight: 100;
}

.intro h3 {
    font-weight: 100;
    margin: 10px 0;
    font-size: 25px
}

.intro p {
    margin: 10px 0;
    font-size: 13px;
}


.intro button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    font-family: 'Noto Sans HK', sans-serif;
    border: 0px;
    border-radius: 10px;
    text-transform: capitalize;
    font-weight: bold;
    margin-top: 20px;
    transition: 300ms all;
    cursor: pointer;
}


.intro button:hover {
    transform: scale(1.1);
}

.second_container {
    width: 1000px;
    margin: auto;
}

.ejer_container {
    display: flex;
    font-family: 'Noto Sans HK', sans-serif;
}

.ejer_container a {
    font-style: none;
    text-decoration: none;
    color: black;
    padding: 0;
    margin: 0;
    display: block;
}

.ejercicio {
    text-align: center;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 3px -4px 54px -9px rgba(0,0,0,0.75);
    position: relative;
    transition: 0.3s all;
}

.ejercicio .image img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
box-shadow: 3px -4px 54px -9px rgba(0,0,0,0.75);

}

.ejercicio h4 {
    font-size: 25px;
    margin-top: 20px;
}

.ejercicio p {
    font-size: 12px;
    width: 80%;
    margin: auto;
    padding-bottom: 36px;
    margin-top: 20px;
}

.ejercicio button {
    position: absolute;
    left: 100px;
    bottom: -15px;
    padding: 6px 13px;
    background-image: linear-gradient(to right, #404e97, #8a4b91, #ba4c7b, #d25f5d, #d37f43);
    border: none;
    color: white;
    border-radius: 20px;
    font-size: 16px;
    font-family: 'Noto Sans HK', sans-serif;
}

.ejercicio:hover {
    transform: scale(1.1);
    cursor: pointer;
}