body {
  height: 100%;
}
.container {
  display: flex;
  height: 50vh;
  align-items: center;
  justify-content: center;
}
.circlesContainer {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.circle {
  background: #dc6e92;
  width: 200px;
  height: 200px;
  color: white;
  font-weight: bold;
  padding: 10px;
  font-size: 10em;
  text-align: center;
  border-radius: 50%;
  vertical-align: middle;
}

.buttonContainer {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.buttonContainer button {
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
  border: 1px solid black;
}
